.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.passwordChange {
  margin: calc(var(--spacing-md) * -1) 0 0 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.rightActions {
  display: flex;
  gap: var(--spacing-md);
  flex: 1;
  justify-content: flex-end;
}
